body {
    font-family: Roboto, sans-serif;
    /* margin: 30px; */
    text-align: center;
  }

#hero {
    padding: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#container {
    margin: auto;
    display: flex;
    width: 40vw;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    border-style: solid;
    border-color: black;
    max-width: 600px;
    background-color: black;
}

#screen {
    background-color: darkslategray;
    color: whitesmoke;
    width: 33vw;
    font-family: 'Calculator', sans-serif;
    font-size: 60px;                                    
}

#input {
    margin: auto;
    display: flex;
    width: 33vw;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

btn {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    width: 22%;
    height: 5vh;
    background-color: grey;
    text-align: center;
    color: white;
    font-weight: 700;
    font-size: 30px;
    border-style: solid;
    border-color: black;
}